<<<<<<< HEAD
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    z-index: 1000;
  }

=======
>>>>>>> a25905efb48cb853c96cef88ba611aa7d288931a
.shopping-list-detail {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
}

.shopping-list-detail h1 {
    color: #333;
    text-align: center;
}

.items, .users {
    margin-top: 20px;
}

.items div, .users p {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.items div {
    display: flex;
    align-items: center;
}

.items input[type="checkbox"] {
    margin-right: 10px;
}

.users p {
    opacity: 0.7;
}

.users p span {
    font-style: italic;
}

button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin: 5px;
}

button:hover {
    background-color: #0056b3;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .main-page button {
    margin: 10px;
  }
<<<<<<< HEAD

  .list-tile {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
=======
>>>>>>> a25905efb48cb853c96cef88ba611aa7d288931a
